/*************
Global Styles
************** */

.hidden {
  display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
  font-size: 1.5rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

/*.wrapper {
	width: 100%;
	max-width: 100% !important;
	margin: 0 0 !important;
}*/

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.main-section {
  width: 100%;
  text-align: left;
  margin: 0 0;
  height: auto;
}

#about-banner {
  margin-top: 50px;
}

.off-canvaswrapper {
	background-color: #222;
}

.center {

}

/*************
Nav mobile
************** */

.title-bar {
	background-color: #222;
	height: 125px;
	padding-top: 15px;
}

#mobile-menu {
	background-color: #222;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255,255,255, 0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Nav desktop
************** */

.nav-desktop {
	background-color: #222;
	padding: 0;
}

.site-logo {
	color: white;
}

.nav-desktop .menu-desktop {
	background-color: transparent;
	line-height: 50px;
}

.menu > li > a {
	display: inline-block;
	color: white;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);
}

.svg-wrap {
  margin-top: 80px !important;
}

/*************
Hero
************** */
.hero-panel {
	background-color: #ce8295;
	padding: 50px 0px;
			/*top right bottom left*/
	/*height: 300px !important;*/
}

.hero-panel > h1 {
  margin-top: 150px;
}
.hero-panel.row {
  text-align: left;
  display: table;
  clear: both;
}

.banner {
  width: 60%;
  font-size: 7rem;
  float: left;
}

.description {
  width: 40%;
  font-size: 21px;
  float: right;
  margin-top: 40px;
}

/*************
Main
************** */

.main-content {
  padding: 50px 0;
}

.main-content.row {
  display: table;
  clear: both;
}

.main-banner {
  width: 60%;
  float: right;
  text-align: right;
}

.main-description {
  width: 40%;
  float: left;
  margin-top: 90px;
}

/*************
Contact
************** */

.contact-form {
  width: 50%;
  margin-left: 25%;
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-wrap {
  background-color: #ce8295;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}

.contact-text {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.contact-text > h2 {
  margin-bottom: 45px;
}

.button.send {
  width: 150px;
  font-size: 2rem;
}

/*************
Footer
************** */
footer {
	background-color: #222;
	padding: 50px 0px;
}
 
footer h4 {
	color: rgba(255,255,255, 0.8);
	font-size: 1.3em;
}

footer hr {
	border-color: rgba(255,255,255, 0.1);
	margin: 10px 0;
}
 
footer a {
	display: block;
	color: rgba(255,255,255, 0.6);
	font-size: 0.8em;
}

footer a span {
	font-weight: bold;
	color: rgba(255,255,255, 0.3);
	
}

footer a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Media Query
************** */

@media (max-width: 640px) {
	.nav-desktop {
    display: none;
  }

  h1.hero {
    margin-top: 70px;
  }

  h1 {
    font-size: 40px;
  }

  .banner,
  .description,
  .main-description,
  .main-banner,
  .contact-form {
    width: 100%;
    text-align: left;
  }

  .contact-form {
    margin: 0;
  }

  .contact-wrap {
    padding: 50px 0 0;
    margin: 0;
    width: 100%;
  }

  .main-description {
    margin-top: 25px;
  }

  .column {
    margin-bottom: 15px;
  }

  #contact-form-wrap {
    padding-top: 145px;
  }

  .contact-text {
    text-align: left;
  }

  #recaptcha {
    margin: 50px 0;
  }
}

@media (max-width: 800px) {
	.hero h1,
	.hero p {
		width: 100%;
	}
}