/*************
Global Styles
************** */



/*.wrapper {
	width: 100%;
	max-width: 100% !important;
	margin: 0 0 !important;
}*/

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

main-section {
  width: 100%;
  text-align: left;
  margin: 0 0;
  height: auto;
}
-
.off-canvaswrapper {
	background-color: #222;
}

contact-form {
  padding-top: 50px !important;
}

/*************
Nav mobile
************** */

.title-bar {
	background-color: #222;
	height: 125px;
	padding-top: 15px;
}

#mobile-menu {
	background-color: #222;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255,255,255, 0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Nav desktop
************** */

.nav-desktop {
	background-color: #222;
	padding: 0;
}

.site-logo {
	color: white;
}

.nav-desktop .menu-desktop {
	background-color: transparent;
	line-height: 50px;
}

.menu > li > a {
	display: inline-block;
	color: white;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);
}

.svg-wrap {
  margin-top: 80px !important;
}

/*************
Hero
************** */
.hero-panel {
	background-color: #ce8295;
	padding: 50px 0px;
			/*top right bottom left*/
	/*height: 300px !important;*/
}

.hero-panel > h1 {
  margin-top: 150px;
}

/*************
Main
************** */
.main-content {
	padding: 80px 0px;
}

.content-one {
	padding: 0 !important;
}

.content-two {
	
}


/*************
Contact
************** */

.contact-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*************
Footer
************** */
footer {
	background-color: #222;
	padding: 50px 0px;
}
 
footer h4 {
	color: rgba(255,255,255, 0.8);
	font-size: 1.3em;
}

footer hr {
	border-color: rgba(255,255,255, 0.1);
	margin: 10px 0;
}
 
footer a {
	display: block;
	color: rgba(255,255,255, 0.6);
	font-size: 0.8em;
}

footer a span {
	font-weight: bold;
	color: rgba(255,255,255, 0.3);
	
}

footer a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Media Query
************** */

@media (max-width: 640px) {
	.nav-desktop {
		display: none;
	}

  h1.hero {
    margin-top: 150px;
  }
}

@media (max-width: 800px) {
	.hero h1,
	.hero p {
		width: 100%;
	}
}
